pip==21.1
bump2version==0.5.11
wheel==0.38.1
watchdog==0.9.0
flake8==3.9.2
autopep8==1.5.7
isort==5.8.0
mypy==0.812
tox==3.14.0
coverage==4.5.4
Sphinx==4.1.2
twine==3.4.1

pytest==5.1
pytest-runner==5.1
pytest-mock==3.6.1
setuptools~=54.2.0
httpx~=0.23.0
attrs~=21.2.0

pyjwt==2.4.0

openapi-python-client
requests==2.25.1

mmh3
